{% extends 'base.html.twig' %}

{% block title %}Formulaire
	{{ parent() }}
{% endblock %}

{% block body %}
	<div style="max-width: 700px; margin:auto;" class="alert alert-info">
		<h1 class="display-5">Formulaire :
			{{ formName }}</h1>
		{{ form(dataForm) }}
			{#* form est une fonction de twig permettant d'afficher un formulaire adapté par createView #}
		</div>
	{% endblock %}
