{% extends 'base.html.twig' %}

{% block title %}Hello Visiteur!
{% endblock %}

{% block body %}
	<h1 class="mt-5">Liste des Bulletins</h1>

	<div class="alert alert-info">
		<h3 class="display-5">{{bulletin.title|upper}}</h3>
		<p class="h3">{{bulletin.category}}</p>
		<p>{{bulletin.content}}</p>
		<p class="lead">{{bulletin.creationDate|date('d/m/Y à G:i:s', 'Europe/Paris')}}</p>
	</div>
{% endblock %}
